* {
    margin: 0;
    padding: 0;
    font-family:Arial,sans-serif;

}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-container {
    position: relative;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    padding: 5px;
}

.menu {
    display: none;
    position: absolute;
    top: 8%;
    background-color: #e74141;
    width: 100%;
    padding: 10px;
    font-weight: bolder;
    
    
}

.menu.active {
    display: block;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    padding: 10px;
    text-align: center;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.menu__item__font{
    background: rgb(146, 165, 239);
    color: rgb(212, 255, 0);
    border-radius: 10px;
    width: 20%;
}

.menu ul li:hover {
    background-color: #555;
    width: 100%;
    border-radius: 10px;

}

















































.imgheader {

    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 4vh;
}
.desktopimge,.imgdesktop{
    display: none;
}
.transform{
    margin: 25% 0;
    text-align: center;

}
.transforme__titre{
    padding-bottom: 10%;
    font-size: 50px;
}
.transforme__bouton{
    font-size: 30px;
    margin-top: 5%;
}

.nav ul {

    display: none;
}

.clients img {
    clip-path: circle();
    margin: 3rem 2rem;

}

.clients {
    width: 70%;
    margin: 5rem 3rem;

}

.clients h3 {
    margin: 3rem 0 0;
    text-align: center;
    font-size: 29px;
}

.clients p {
    margin: 1rem 0 1rem;
    text-align: center;
}
.sectionclien{
    margin-top: 5vh;
    text-align: center;
}
.imgarrow {
    position: absolute;
    left: 45%;
    top: 40%;

}

.header1 h1 {
    font-size: 3rem;
    position: absolute;
    top: 25vh;
    left: 3vh;
    color: white;
    text-align: center;
}

.nav {
    position: fixed;
    background: url(/sunnyside/images/mobile/image-header.jpg);
    background-size: cover;

    width: 100%;
    color: white;
}

.blockimg img {

    width: 50%;

}

.img2,
.img4 {
    float: right;
}
.mainp{
    position: absolute;
    top: 330%;
    left: 25%;
    
   }
   .maino{
    position: absolute;
    top: 250%;
    left: 25%;
   }

footer ul,
a {
    display: flex;
}

footer {

    line-height: 10vh;
    background: #8BCBBF;
}

footer h4 {
    text-align: center;
}

footer ul li,
a {
    list-style: none;
    text-decoration: none;
}

footer ul li {
    margin: 0 3vh;
}

footer ul {
    margin-left: 3vh;
    font-size: 20px;
}

footer img {
    margin-left: 3vh;
}

.imgfoot {
    margin-left: 14vh;
}

/*  ici comment le code desktop*/



@media(min-width: 769px) {

    .nav ul,li, a {
        display: flex;
        list-style: none;
        text-decoration: none;
        font-size: 5vh;
        color: white;
        line-height: 5vh;
    }

    .nav ul li {
       
        padding: 0 5vh;
    }

    .nav i {
        display: none;
    }
   

.imgarrow {
    position: absolute;
    left: 45%;
    top: 38%;
    width: 4%;

}
.imgmobil{
    display: none;
    
}
.imgdesktop{
    width: 100%;
}
.Contacts{
    background: white;
    color: black;
    padding: 1vh;
    border-radius: 10px;
}
.header1 h1 {
    font-size: 4rem;
    position: absolute;
    top:20vh;
    left: 26%;
    color: white;
    text-align: center;
}






   .transform{
    float: left;
    width: 50%;
   }
   .oeuf{
    width: 50%;
   }
   .verre{
    float: right;
    width: 50%;
   }
   .imgver{
   width: 50%;
   }
   .pomme{
    width: 50%;
    float: right;
   }
   .orange{
    width: 50%;
   }
   .mainp{
    position: absolute;
    top: 300%;
    left: 65%;
    
   }
   .maino{
    position: absolute;
    top: 300%;
    left: 15%;
   }
   .desktopimge{
    width: 50%;
    width: 50%;
    float: right;
   }
   .imgp,.imgor{
   display: none;
    
   }
   
   .im{
    width: 5%;
   }
  
   
   
   
   
   
   
   
   
    section{
        display: flex;
    }
    .section{
        text-align: center;
        font-size:40;
    }


    .blockimg {

        display: flex;
        width: 50%;
    }


    footer {

        line-height: 20vh;
        background: rgb(51, 212, 206);
    }

    footer h4 {
        text-align: center;
        font-size: 10vh;
    }

    footer ul li,
    a {
        list-style: none;
        text-decoration: none;
    }

    footer ul li {
        margin: 0 5%;
    }

    footer ul {
        margin-left: 3rem;
        justify-content: space-between;
    }

    footer img {
        margin-left: 10vh;
        width: 10vh;
    }

    .imgfoot {
        margin-left: 30vh;
    }

























}